* {
  margin: 0;
  padding: 0;
}
p {
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0 !important;
}

button {
  background-color: #7fecff;
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.row {
  --bs-gutter-x: 0 !important;
}
